---
import settings from "@utils/settings";
import "@styles/global.css";

export interface BaseMetaProps {
	title?: string;
	description?: string;
	url?: URL | string;
	image?: string;
}

const title = Astro.props.title || settings.title;
const description = Astro.props.description || settings.description;
const url =  Astro.props.description || settings.url;
const image =  Astro.props.description || settings.url;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />


<!-- Primary Meta Tags -->
<title>{title || settings.title}</title>
<meta name="title" content={title || settings.title} />
<meta name="description" content={description || settings.description} />
<!-- settingsmap -->
<link rel="settingsmap" href="/settingsmap.xml">
<!-- RSS -->
<link rel="alternate" type="application/rss+xml" title={`${settings.name} Blog`} href={`${settings.url}/feed/blog.xml`}/>
<!-- Canonical -->
<link rel="canonical" href={url}>

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={image} />


